@model List<HrManagementSystem.Models.Education>

@{
    ViewBag.Title = "Applicant_Education";
    Layout = "~/Views/Shared/_LayoutApplicant.cshtml";
}


<body>
    <br />
    <br />
    <center>
        <a class="btn btn-primary btn-lg btn-block col-lg-5" href="@Url.Action("Applicant_AddEducation","Applicant")">Add Education</a>
    </center>
    <br />
    <br />
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Degree</th>
                <th scope="col">Institute</th>
                <th scope="col">Board</th>
                @*<th scope="col">Start Date</th>*@
                <th scope="col">Passing Year</th>
                <th scope="col"></th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var edu in Model)
            {
                <tr class="table-info">
                    <td>@edu.degree</td>
                    <td>@edu.institute</td>
                    <td>@edu.board</td>
                    @*<td>@edu.start_date</td>*@
                    <td>@edu.end_date</td>
                    <td>
                        <a href="@Url.Action("Delete_Education","Applicant", new { id = edu.edu_id })" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        
                        <a href="@edu.edu_id" class="btn btn-info">&nbsp;&nbsp;Edit&nbsp;&nbsp;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
