@model List<HrManagementSystem.Models.Job>
@{
    ViewBag.Title = "Hr_PostedJobs";
    Layout = "~/Views/Shared/_LayoutHr.cshtml";
}

<body>
    <br />
    <br />
    <br />
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th scope="col">Title</th>
                <th scope="col">Qualification</th>
                <th scope="col">Salary</th>
                <th scope="col">Experience</th>
                <th scope="col">Last Date</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Model)
            {
                <tr class="table-info">
                    <td>@job.title</td>
                    <td>@job.qualification</td>
                    <td>@job.salary</td>
                    <td>@job.experience</td>
                    <td>@job.last_date_to_apply</td>
                    <td>@job.location</td>
                </tr>
            }
        </tbody>
    </table>
</body>
